
:root {
    --main-bg: #050505;
    --accent: #00f2fe;
    --glass: rgba(255, 255, 255, 0.03);
    --border: rgba(255, 255, 255, 0.1);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg);
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
body::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: var(--accent);
    filter: blur(150px);
    opacity: 0.2;
    z-index: -1;
}


.card {
    background: var(--glass);
    backdrop-filter: blur(20px);
    border: 1px solid var(--border);
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 40px 100px rgba(0,0,0,0.5);
    transition: 0.5s ease;
}

.card:hover {
    border-color: var(--accent);
    transform: scale(1.02);
}

h1 {
    font-size: 3.5rem;
    margin: 0;
    background: linear-gradient(to bottom, #fff, #888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -2px;
}

p {
    color: #888;
    font-size: 1.1rem;
    margin-top: 10px;
}


.shiny-btn {
    margin-top: 30px;
    padding: 15px 40px;
    background: white;
    color: black;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(255,255,255,0.1);
}

.shiny-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 242, 254, 0.4);
    background: var(--accent);
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 2px; height: 2px;
    background: white;
    box-shadow: 
        10vw 20vh white, 30vw 50vh white, 70vw 10vh white, 
        90vw 80vh white, 20vw 90vh white, 50vw 30vh white,
        80vw 40vh white, 40vw 70vh white;
    animation: starsAnimation 50s linear infinite;
    z-index: -2;
}

@keyframes starsAnimation {
    from { transform: translateY(0); }
    to { transform: translateY(-100vh); }
}
#typewriter {
    border-left: 3px solid #00f2fe; /* لون المؤشر */
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% { border-color: transparent; }

}

.secondary {
    background: transparent !important; 
    border: 1px solid #00f2fe !important; 
    color: #00f2fe !important;
    text-decoration: none; 
    display: inline-block;
    margin-right: 10px; 
}

.secondary:hover {
    background: #00f2fe !important;
    color: black !important;
    box-shadow: 0 0 20px #00f2fe;
}